.inner.profile_form
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    .field
      = f.label :icon, 'アイコン'
      %br/
      = f.file_field :icon
    .field
      = f.label :name, '名前'
      %br/
      = f.text_field :name, class: 'text'
    .field
      = f.label :introduction, '自己紹介'
      %br/
      = f.text_area :introduction, class: 'text'
    .field
      = f.label :birthday, '誕生日'
      %br/
      = f.date_field :birthday, class: 'text'
    .actions
      = f.submit '保存'
