.inner
  - @tweet.errors.full_messages.each do |message|
    %p.error_message= message
  = form_with model: @tweet, url: tweets_path, method: :post, local: true do |f|
    .user_ui
      = image_tag current_user.icon_image
      %p= current_user.account_name
    .field.tweet
      = f.text_area :content, class: 'tweet_content', placeholder: 'What\'s on your mind?'
    .tweet_btn
      = link_to 'Cancel', root_path, class: 'tweet_cancel'
      .actions
        = f.submit :Tweet, class: 'post_btn'
