.inner.tweet_new
  - @tweet.errors.full_messages.each do |message|
    %p.error_message= message
  = form_with model: @tweet, url: tweets_path, method: :post, local: true do |f|
    .user_ui
      = image_tag current_user.icon_image
      %p= current_user.account_name
    .field.tweet_field
      = f.text_area :content, class: 'tweet_content', placeholder: '呟きを書いてください'
    .field.tweet_field
      = f.file_field :images, multiple: true
    .tweet_btn
      = link_to 'キャンセル', root_path, class: 'tweet_cancel'
      .actions
        = f.submit 'ツイート', class: 'tweet_btn'
