.inner
  .timeline_body
    - @user.tweets.each do |tweet|
      .tweet#tweet-show{data: {tweet_id: tweet.id}}
        = link_to root_path, class: 'tweet_top' do
          = image_tag tweet.user.icon_image, class: 'tweet_top_icon'
          %p.tweet_top_name= tweet.user.account_name
        %p.tweet_created= tweet.created_at
        = link_to root_path, class: 'tweet_content' do
          %p= tweet.content
= link_to '+',new_tweet_path, class: 'new_tweet'
